@charset "UTF-8";

html {
	height: 100%;
}

body {
	height: 100%;
}

.search-result.col-sm-8.offset-sm-2 {
	height: 100vh;
}

.gift-container.col-sm-12 {
	background-color: #FCF9F4;
	position: relative;
	float: left;
}

p.noResult.text-nowrap {
	font-size: 20px;
}

p.resultCount {
	float: left;
	font-size: 1.5vw;
	margin-left: 15px;
}

@media screen and (min-width: 1px) and (max-width: 575px) {
	.gift-list {
		margin-left: 4vw;
	}
}

@media screen and (min-width: 576px) and (max-width: 827px) {
	.gift-list {
		margin-left: 10vw;
	}
}

@media screen and (min-width: 828px) and (max-width: 922px) {
	.gift-list {

	}
}

@media screen and (min-width: 923px) and (max-width: 1041px) {
	.gift-list {
		margin-left: 1vw;
	}
}

@media screen and (min-width: 1042px) and (max-width: 1199px) {
	.gift-list {
		margin-left: 2vw;
	}
}

@media screen and (min-width: 1200px) {
	.gift-list {
		margin-left: 2vw;
		margin-right: 1vw;
	}
}

.gift-container {
	margin: 1vw;
	float: left;
}

.gift {
	width: 17vw;
}

img.gift-picture {
	width: 100%;
	height: auto;
}

p.gift-name {
	font-size: 1vw;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

p.gift-guest {
	font-size: 1vw;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}