<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head>
	<meta charset="UTF-8"></meta>
    <title>SignUp</title>

</head>
<!-- ユーザー登録画面 -->
<body>
    <div layout:fragment="content">
		<div class="col-sm-4 offset-sm-4">
			<div class="page-header">
				<h1>ユーザー登録画面</h1>
			</div>
			<!-- ボタンを押すと「SignupController」に処理が投げられる -->
			<form method="post" th:action="@{/signupUser}" th:object="${signupForm}">

				<table class="table table-bordered table-hover">
				<tr>
					<td>
						<div class="form-group">
							<!-- modelオブジェクト「signupForm」の「userId」フィールドでエラーが発生したら、class属性を追加し「is-invalid」でテキストボックスの周りを赤くする-->
							<input type="text" class="form-control" placeholder="ログインID" th:field="*{userId}"
							th:classappend="${#fields.hasErrors('userId')}?'is-invalid'"/>
							<!-- modelオブジェクト「signupForm」の「userId」フィールドでエラーが発生したら、th:errors属性で「messages.properties」で記述したエラーメッセージを表示-->
							<span class="text-danger"
								th:if="${#fields.hasErrors('userId')}"
								th:errors="*{userId}"></span>
						</div>
					</td>
				<tr>
				<tr>
					<td>
						<div class="form-group">
							<!-- modelオブジェクト「signupForm」の「mailAddress」フィールドでエラーが発生したら、class属性を追加し「is-invalid」でテキストボックスの周りを赤くする-->
							<input type="text" class="form-control" placeholder="メールアドレス" th:field="*{mailAddress}"
							th:classappend="${#fields.hasErrors('mailAddress')}?'is-invalid'"/>
							<!-- modelオブジェクト「signupForm」の「mailAddress」フィールドでエラーが発生したら、th:errors属性で「messages.properties」で記述したエラーメッセージを表示-->
							<span class="text-danger"
								th:if="${#fields.hasErrors('mailAddress')}"
								th:errors="*{mailAddress}">
							</span>
						</div>
					</td>
				<tr>
				<tr>
					<td>
						<div class="form-group">
							<!-- modelオブジェクト「signupForm」の「password」フィールドでエラーが発生したら、class属性を追加し「is-invalid」でテキストボックスの周りを赤くする-->
							<input type="text" class="form-control" placeholder="パスワード" th:field="*{password}"
							th:classappend="${#fields.hasErrors('password')}?'is-invalid'"/>
							<!-- modelオブジェクト「signupForm」の「password」フィールドでエラーが発生したら、th:errors属性で「messages.properties」で記述したエラーメッセージ表示-->
							<span class="text-danger"
								th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}">
							</span>
						</div>
					</td>
				<tr>
				</table>
				<button class="btn btn-primary col-sm-6" type="submit">新規登録</button>
			</form>
		</div>
	</div>
</body>
</html>