<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/common}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="UTF-8">
<title>updateUser</title>
<link th:href="@{../css/mypage/edit_user/edit_user.css}" rel="stylesheet"></link>
<script src="https://kit.fontawesome.com/665f18a48e.js" crossorigin="anonymous"></script>

</head>
<body layout:fragment="content">
	<div class="col-sm-6 offset-sm-3">
		<div class="updation-wrapper">
			<div class="page-header">
				<p class="page-title">登録情報更新</p>
				<h6>
					<b>更新後はログアウトが実行されます。</b>
				</h6>
			</div>
			<form th:action="@{/users}" th:object="${userForm}" th:method="put">
				<table class="table table-bordered table-hover">
					<tr>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" th:field="*{userName}" th:classappend="${#fields.hasErrors('userName')}?'is-invalid'" />
								<span class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"> userId error </span>
							</div>
						</td>
					<tr>
					<tr>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" th:field="*{mailAddress}" th:classappend="${#fields.hasErrors('mailAddress')}?'is-invalid'" />
								<span class="text-danger" th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}"> mailAddress error </span>
							</div>
						</td>
					<tr>
					<tr>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" th:field="*{password}" th:classappend="${#fields.hasErrors('password')}?'is-invalid'" />
								<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> password error </span>
							</div>
						</td>
					<tr>
				</table>
				<h6 class="text-danger">
					<b>現在のパスワードもしくは新しいパスワードを<br>必ず入力してください。</b>
				</h6>
				<h6>
					<b>未入力の場合登録時のパスワードが使用できなくなります。</b>
				</h6>
				<button class="btn btn-primary col-sm-6" type="submit">更新</button>
			</form>
		</div>
	</div>
</body>
</html>