@charset "UTF-8";

html {
	height: 100%;
}

body {
	height: 100%;
}

.updation-wrapper {
	height: 100vh;
}

.col-sm-6.offset-sm-3 {
	min-width: 310px;
}

p.page-title {
	font-size: 32px;
}

.btn.btn-primary.col-sm-6 {
	width: 150px;
}