<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/common}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="UTF-8">
<title>favorite</title>
<script src="https://kit.fontawesome.com/665f18a48e.js" crossorigin="anonymous"></script>
<link th:href="@{../css/mypage/favorite/favorite.css}" rel="stylesheet"></link>

</head>
<body layout:fragment="content">
	<div class="favorite-wrapper">
		<p class="page-title">お気に入り
		<p>
		<div class="favorite col-sm-8 offset-sm-2">
			<p class="count" th:text="${favoriteIds} + '件'"></p>
			<br />
			<div class="gift-container col-sm-12">
				<div class="favorite-list">
					<div class="gift-container" th:each="gift : ${favorites}">
						<div class="gift">
							<a th:href="@{'/gifts/'+${gift.giftId}}"><img class="gift-picture" th:src="@{'/image/'+${gift.image}}" alt="gift-image"></a>
							<p class="gift-name" th:text="${gift.giftName}"></p>
							<p class="gift-guest" th:text="${gift.recommenderName}"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>