<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">

<head>
	<meta charset="UTF-8">
	<title>aboutSnitch</title>
</head>

<!-- 「Snitch」説明ページ -->
<body>
	<div layout:fragment="content">
		<div class="aboutPage">
			<h1 style="color:white; font-size:55px;">Snitchとは?</h1>
			<h2 style="font-size:33px;">Snitchは著名人御用達のお土産専門サイトです。​</h2>
			<p style="font-size:23px;">当サイトでは、2018年3月に惜しくも放送終了した<br>
			「とんねるずのみなさんのおかげでした」の人気コーナー「食わず嫌い王」にて紹介されたお土産のみ掲載しております。<br>
​			番組のファンだった方、どんなお土産にを買おうか困っている方、小腹を満たしたい方など<br>あらゆる方に楽しんでいただきたく
​			当サイトはスタートしました。</p>
		</div>
	</div>
</body>
</html>