<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/common}">

<head>
<meta charset="UTF-8">
<title>updateUser</title>
<link th:href="@{../css/mypage/withdrawal/withdrawal.css}" rel="stylesheet"></link>

</head>
<body layout:fragment="content">
	<h1>退会</h1>
	<div class="col-sm-4 offset-sm-4">
		<div class="delete-wrapper">
			<h6>
				<b>本当に退会してもよろしいでしょうか?</b>
			</h6>
			<form th:action="@{/users}" th:method="delete">
				<button class="btn btn-danger col-sm-6 text-nowrap" type="submit"><i class="fas fa-user-slash"></i> 退会</button>
			</form>
		</div>
	</div>
</body>
</html>