<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/common}">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link th:href="@{/css/login/login.css}" rel="stylesheet"></link>
</head>
<body>
	<div layout:fragment="content">
		<div class="login-wrapper">
			<p class="page-title">Login</p>
			<form th:action="@{/users/session/login}" th:method="post">
				<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-danger">ログインエラーメッセージ</p>
				<input class="col-sm-4" type="text" name="userName" placeholder="ユーザーネーム" /><br /> <br />
				<input class="col-sm-4" type="password" name="password" placeholder="パスワード" /><br /> <br />
				<button class="btn btn-primary col-sm-2" type="submit">ログイン</button>
			</form>
			<br />
			<form class="update-page" th:action="@{/users/new}" th:method="get">
				<button class="btn btn-success col-sm-2" type="submit">新規登録</button>
			</form>
		</div>
	</div>
</body>
</html>