<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/common}">


<head>
<meta charset="UTF-8">
<title>home</title>
<link th:href="@{css/home/home.css}" rel="stylesheet"></link>
</head>
<body>
	<div layout:fragment="content">
		<div class="home col-sm-8 offset-sm-2">
			<div class="gift-container col-sm-12">
				<div class="gift-list">
					<div class="gift-container" th:each="gift : ${gifts}">
						<div class="gift-content">
							<a th:href="@{'/gifts/'+${gift.giftId}}"><img class="gift-picture" th:src="@{'/image/'+${gift.image}}" alt="gift-image"></a>
							<p class="gift-name" th:text="${gift.giftName}"></p>
							<p class="gift-guest" th:text="${gift.recommenderName}"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>